.sidebar{
    padding : 10px 2px;
    
}
.sidebar-nav{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap : 30px;
}
.sidebar-nav > li{
    padding : 6px 7px;
}
.sidebar-nav > li:hover{
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.nav-item > a{
    all : unset;
}