:root {
  --background-color-light: #ffffff;
  --text-color-light: #213547;
  --button-background-light: #f9f9f9;
  --anchor-hover-light: #747bff;

  --background-color-dark: #8c2a2a;
  --text-color-dark: rgba(255, 255, 255, 0.87);

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}

body.dark {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

a:hover {
  color: var(--anchor-hover-light);
}

button {
  background-color: var(--button-background-light);
}
